[submodule "m4_home/m4_ws/src/px4_msgs"]
	path = m4_home/m4_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "phoenix_ws/src/phoenix/phoenix/third-party/DynamixelSDK"]
	path = phoenix_ws/src/phoenix/phoenix/third-party/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
